<!DOCTYPE html>

<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <p class="text-body-secondary">© 2024 Explore City</p>
    </div>
    <div class="col mb-3"></div>
    <div id="contact-section" class="col mb-3">
      <h5>Phone Number</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">90 342 456 7890</a></li>
      </ul>
    </div>
    <div class="col mb-3">
      <h5>Social Media</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Twitter</a></li>
      </ul>
    </div>
    <div class="col mb-3">
      <h5>E-mail</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-body-secondary">Email</a></li>
      </ul>
    </div>
  </footer>